const Command = require('../Structures/Command.js');
const Discord = require('discord.js');

module.exports = new Command({
    name: "sample",
    permission: "SEND_MESSAGES",
    description: "This is a sample command",

    async run(message, args, client) {
        message.channel.send('Sample Message');
    }

});